* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

ul, ol {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
}